.git
.gitignore
.dockerignore
.claude
.mcp.json
CLAUDE.md
publication-data
supplemental
static
cache
models
builds
**/__pycache__
**/*.pyc
base/tests
base/.gitlab-ci.yml
base/build.py
base/requirements.txt
tests
