__pycache__
builds
TESTDATA
cache
basemodel.pt.zip
tests/logs
sync_models.py
venv
supplemental/PackageExporter.ipynb
/models/detection
/static
publication-data/model/RetinaNet_ResNet50_FPN_DuckNet.pth
