__pycache__
builds
TESTDATA
static
cache
basemodel.pt.zip
tests/logs
sync_models.py
venv
ssd300_vgg16_gradientAccumulation_noHen.pth
supplemental/PackageExporter.ipynb
supplemental/PackageExporter.ipynb
